<div class="col-md-12">
    <!--Card-->
    <mdb-card cascade="true">
      <!--Card image-->
      <div class="view view-cascade overlay waves-light" mdbWavesEffect>
  
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" alt="img" class="img-responsive" width="100%;" height="auto">
  
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/Card image-->
  
      <mdb-card-body cascade="true" class="elegant-color">
        <!--Card content-->
        <h5 class="cyan-text">
          <i class="far fa-clock pr-1"></i>  Próximos Eventos</h5>
        <!--Title-->
        <h5 class="cyan-text">
            <i class="fas fa-music"></i>  Canciones</h5>
        <!--Text-->
        <h5 class="cyan-text">
        <i class="fas fa-user-friends"></i>  Seguidores</h5>
          
      
        <div class="text-center">
        <button mdbBtn type="button" rounded="true" style="background-color:#0BE9B6; color: white" mdbWavesEffect>Seguir</button>
        <button mdbBtn type="button" rounded="true" style="background-color:#0BE9B6; color: white" mdbWavesEffect>Contactar</button>
      </div>
      </mdb-card-body>
      <!--/.Card content-->
  
    </mdb-card>
    <!--/.Card-->
  </div>