<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block  w-100" style="height: 400px" src="../../../../assets/img/carousel92.jpg" alt="First slide">
    <div class="carousel-caption">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      <h3 class="h3-responsive light-text"><strong>Únete a Taki</strong></h3>
      <p>La Comunidad de Artistas Independientes</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="height: 400px" src="../../../../assets/img/carousel72.jpg" alt="Second slide">
    <div class="carousel-caption">
    <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      <h3 class="h3-responsive light-text"><strong>Gana Seguidores</strong></h3>
      <p>Sube tus canciones y próximos eventos</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" style="height: 400px" src="../../../../assets/img/carousel33.jpg" alt="Third slide">
    <div class="carousel-caption">
        <div class="mask flex-center rgba-indigo-strong" mdbWavesEffect></div>
          <h3 class="h3-responsive light-text"><strong>Comparte tu Talento</strong></h3>
        </div>
  </mdb-carousel-item>
</mdb-carousel>
