<!--Card-->
<div class="card testimonial-card mt-2 mb-3 elegant-color">

    <!-- Background color -->
    <mdb-card-img src='./../../../../assets/img/card149.jpg' class="portada d-block w-100"></mdb-card-img>
    <!-- Avatar -->
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="perfilFoto rounded-circle img-responsive" alt="woman avatar" >  
    <div class="nUsuario"><i class="fas fa-check-circle"></i>  Martha Vertiz</div>
    <!-- Content -->    
</div>
  <!--Card-->