.portada{
    position: relative;
    margin: auto;
}
.perfilFoto{
    position: absolute;
    width: 15%;
    top: 50%;
    left: 10px;
}

.nUsuario {
    position: absolute;
    right: 25%;
    top: 70%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white
  }