<!--Double navigation-->
<header>

  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav class="sn-bg-1" [fixed]="true">

    <mdb-navbar-brand>
      <li>
        <div class="logo-wrapper waves-light">
          <a href="#">
            <img src="./../../assets/img/takilogo.png" class="img-fluid flex-center">
          </a>
        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>
      <!--Social-->
      <li>
        <ul class="social">
          <li>
            <a class="icons-sm fb-ic">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          <li>
            <a class="icons-sm gplus-ic">
              <i class="fab fa-google-plus"> </i>
            </a>
          </li>
          <li>
            <a class="icons-sm tw-ic">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
        </ul>
      </li>
      <!--/Social-->
      <!--Search Form-->
      <li>
        <form class="search-form" role="search">
          <div class="form-group md-form mt-0 pt-1 waves-light" mdbWavesEffect>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
      </li>
      <!--/.Search Form-->
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" aria-multiselectable="false">

            <!-- Simple link -->
            <mdb-accordion-item class="no-collase" [routerLink]="['/main']" routerLinkActive="router-link-active">
              <mdb-accordion-item-head mdbWavesEffect>
                Menu Principal
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Simple link -->
            <mdb-accordion-item class="no-collase" [routerLink]="['/main']">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fas fa-home"></i> Inicio
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Simple link -->
            <mdb-accordion-item class="no-collase" [routerLink]="['/news']">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fas fa-newspaper"></i> Noticias
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

            <!-- Simple link -->
            <mdb-accordion-item class="no-collase" [routerLink]="['/tops']">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fas fa-heart"></i> Lo mas Top
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <!-- Simple link -->
            <mdb-accordion-item class="no-collase" [routerLink]="['/register']">
              <mdb-accordion-item-head mdbWavesEffect>
                Usuario
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <!-- Simple link -->
            <mdb-accordion-item class="no-collase" [routerLink]="['/perfil']">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fas fa-user-circle"></i> Perfil
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <!-- Simple link -->
            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fas fa-cloud-upload-alt"></i>Subir cancion
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>
            <!-- Simple link -->
            <mdb-accordion-item class="no-collase">
              <mdb-accordion-item-head mdbWavesEffect>
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesion
              </mdb-accordion-item-head>
              <mdb-accordion-item-body></mdb-accordion-item-body>
            </mdb-accordion-item>

          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
    [containerInside]="false">

    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.toggle()" class="button-collapse hidden-nav-button-collapse">
          <i class="fas fa-bars mt-3"></i>
        </a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb-->
      <div class="breadcrumbs breadcrumbs-hidden-nav breadcrumb-dn mr-auto">
        <a class="navbar-brand" href="#">
          <img src="./../../assets/img/takilogo.png" height="33" class="float-center" alt="">
        </a>
      </div>
      <!--/. Breadcrumb-->
    </mdb-navbar-brand>


    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <div class="chip mt-2">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg" alt="Contact Person"> Jane Doe
        </div>

      </ul>
    </navlinks>

  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--/.Double navigation-->

<!--Main Layout-->
<main>
  <div class="container-fluid ">
    <router-outlet></router-outlet>

  </div>
</main>
<!--/Main layout-->