<!--Main Navigation-->
<header>

  <!-- Sidebar -->
  <mdb-side-nav #sidenav class="sidebar-fixed position-fixed" [fixed]="true" >
      <a class="logo-wrapper waves-effect">
          <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">

          <a routerLink="dashboards/v1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard
          </a>
          <a routerLink="profiles/profile1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <mdb-icon fas icon="user" class="mr-3"></mdb-icon>Profile</a>
          <a routerLink="tables/table1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Tables</a>
          <a routerLink="maps/map1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <mdb-icon far icon="map" class="mr-3"></mdb-icon>Maps</a>
          <a routerLink="nonExistingPath" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
              <mdb-icon fas icon="exclamation" class="mr-3"></mdb-icon>404</a>

      </div>

  </mdb-side-nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
              [containerInside]="false">

    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a (click)="sidenav.show()" class="button-collapse"><i class="fas fa-bars"></i></a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb-->
      <div class="breadcrumbs breadcrumb-dn mr-auto">
        <p>Material Design for Bootstrap</p>
      </div>
      <!--/. Breadcrumb-->
    </mdb-navbar-brand>

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fas fa-envelope"></i> <span
            class="clearfix d-none d-sm-inline-block">Contact</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="far fa-comments"></i> <span
            class="clearfix d-none d-sm-inline-block">Support</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect><i class="fas fa-user"></i> <span
            class="clearfix d-none d-sm-inline-block">Account</span></a>
        </li>
        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Dropdown
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--Main Navigation-->
<!--Main Layout-->
<main>
  <div class="container-fluid ">
    <app-main-page></app-main-page>
  </div>
</main>
<!--/Main layout-->
