  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" style="height: 400px" src="./../../assets/img/carousel42.jpg" alt="First slide">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Taki</h3>
          <p>Te permite compartir tu talento</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100"  style="height: 400px" src="./../../assets/img/card162.jpg" alt="Second slide">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Presentaciones</h3>
          <p>Comparte tus próximos conciertos</p>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" style="height: 400px" src="./../../assets/img/card90.jpg" alt="Third slide">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Nuevas canciones</h3>
          <p>Sube tus nuevas composiciones y gana seguidores</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
