<div class="row">
    <div class="mdb-feed col-md-12 white-text">

        <mdb-card class="testimonial-card">
          <!--Bacground color-->
          <div class="news card-up elegant-color">

              <div class="label">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(18)-mini.jpg" class="rounded-circle z-depth-1-half">
                </div>
      
                <!-- Excerpt -->
                <div class="excerpt">
      
                  <!-- Brief -->
                  <div class="brief">
                    <a class="name cyan-text">Lili Rose</a> hizo un comentario
                    <div class="date">2 días atrás</div>
                  </div>
      
                  <!-- Added text -->
                  <div class="added-text">Me gusta su música, escucharla en vivo en el Bar de la Riva es genial. No puedo esperar al próximo concierto!</div>
      
                  <!-- Feed footer -->
                  <div class="feed-footer">
                    <a class="like">
                      <i class="fas fa-heart"></i>
                      <span>7 likes</span>
                    </a>
                  </div>
      
                </div>
                <!-- Excerpt -->
          </div>
          </mdb-card>
        </div>
  </div>