<section class="pb-3 text-center ">

    <!--Section heading-->
    <h2 class="h1 py-5 cyan-text">Los más escuchados</h2>
    <!--Section description--> 
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-3 col-md-4 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="./../../assets/img/card303.jpg" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>JeanL - Red 
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-4 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="./../../assets/img/card242.jpg"  alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>DjMax - Suave
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-3 col-md-4 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="./../../assets/img/card42.jpg" alt=""></mdb-card-img>
            <div class="stripe dark">
              <a>
                <p>H2 - Amor
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Grid column-->
  
      <!--Fourth column-->
      <div class="col-lg-3 col-md-4 mb-4">
  
        <!--Collection card-->
        <mdb-card class="collection-card z-depth-1-half">
          <!--Card image-->
          <div class="view zoom waves-light" mdbWavesEffect>
            <mdb-card-img src="./../../assets/img/card152.jpg" alt=""></mdb-card-img>
            <div class="stripe light">
              <a>
                <p>Luna - Yo
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!--Card image-->
        </mdb-card>
        <!--Collection card-->
  
      </div>
      <!--Fourth column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Products v.4-->