<div class="col-md-12">
  <!--Card-->
  <mdb-card cascade="true">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>

      <img src="./../../../../assets/img/card22.jpg" alt="img" class="img-responsive" width="100%;" height="auto">

      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->

    <mdb-card-body cascade="true" class="elegant-color white-text text-center">
      <!--Card content-->
      <h5 class="cyan-text">
        <i class="far fa-clock pr-1"></i> Próximos Eventos</h5>
      <!--Title-->
      <h4 class="card-title">Cheat day inspirations</h4>
      <!--Text-->

      <mdb-card-text>
      ¡Entérate los próximos eventos de tus artistas favoritos!
      </mdb-card-text>

      <button mdbBtn type="button" rounded="true" style="background-color:#0BE9B6; color: white" mdbWavesEffect>Ver más</button>

    </mdb-card-body>
    <!--/.Card content-->

  </mdb-card>
  <!--/.Card-->
</div>